@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

 /*------------- Whole Document---------------- */

body {
    font-family: 'Mulish';
    font-size: 19px;
    text-align: justify;
}

/*----------------- links ---------------------*/

a { 
  color: #4e89bf;
}

/*----------LOGO right corner---------*/


  #header.fluid-row::before {
   content: "";
   height: 200px;
   width: 200px;
   float: right;
   background-image: url("https://github.com/trippv/Miguel_Tripp/raw/master/repoBiostat/tidyverse2.png");
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
 }
 

/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 1.55em !important;
  margin-bottom: 0.75em;
}


.section h1 {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em;
}

.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  margin-top: 0.75em !important;
  padding-top: 1.75em !important;
  margin-bottom: 0.75em;
}


  /* Space Between TOC and 
  Righthand side content on large screens */

 @media (min-width: 1000px) {
    .col-md-9 {
      width: 75%;
      padding-left: 2.5em !important;
    }
 }
 
 /*------------Table of Contents (TOC)----------- */


.tocify {
  border: none;   /*Removes border */
  border-radius: 0px; /* Gets rid of rounded corners on TOC */
  font-size: 16px;
}

.tocify ul {
  border-right: solid 1px #eee; /* Thin right border on TOC list */
}


/* -----------HERO IMAGE AT TOP OF PAGE -----------*/

/* LARGE HERO IMAGE AT TOP OF PAGE*/

.hero-image {
    position: relative;
    margin-bottom: 2em;
    /* liner gradient tints the image darker for readability*/
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url("https://images.unsplash.com/photo-1589859762194-eaae75c61f64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80"); 
    height: 400px;
    background-size: cover;
    background-color: #141c25f2;
    background-position: center center;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}

.top-text {
  position: relative;
  font-size: 34px;
  padding-bottom: 3.0em
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
  color: #ffffff72;
}

.bottom-text {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
  color: #ffffff;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
